
.venv/


.idea/


*.pyc
__pycache__/


classifier.pkl

temp.py
test2.py


yolov8m.pt
yolov8n.pt



/face_recon/aligned_images/*

!/face_recon/aligned_images/*/


/face_recon/image_feed/*

!/face_recon/image_feed/*/


*.log


.DS_Store
Thumbs.db

/employee_faces

/smart_attendance